html {
    height: 1200px;
}
body {
    max-width: 1000px;
    overflow: hidden;
}
.my-div {
    display: block;
    height: 400px;
    width: 600px;
}
video.thevideo {
    max-width: 100%;
}

/* Hide Play button + controls on iOS */

video::-webkit-media-controls {
    display: none !important;
}
